.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
.alert-holder{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
}
.message-holder{
    background: rgba(255, 255, 255, 0.829);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 0 1px 3px rgba(194, 193, 193, 0.5); 
    color: #495159;
}